[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-arrow-right{
	width: 10px;
	height: 16px;
	background: url(../img/icons/arrow-right.png) no-repeat center center;
}

.icon-building{
	width: 74px;
	height: 83px;
	background: url(../img/icons/building.png) no-repeat center center;
}

.icon-building-small{
	width: 34px;
	height: 39px;
	background: url(../img/icons/building-small.png) no-repeat center center;
}

.icon-healthcare{
	width: 59px;
	height: 83px;
	background: url(../img/icons/healthcare.png) no-repeat center center;
}

.icon-healthcare-small{
	width: 27px;
	height: 39px;
	background: url(../img/icons/healthcare-small.png) no-repeat center center;
}

.icon-insurance{
	width: 74px;
	height: 83px;
	background: url(../img/icons/insurance.png) no-repeat center center;
}

.icon-insurance-small{
	width: 34px;
	height: 39px;
	background: url(../img/icons/insurance-small.png) no-repeat center center;
}

.icon-critical{
	width: 74px;
	height: 82px;
	background: url(../img/icons/critical.png) no-repeat center center;
}

.icon-critical-small{
	width: 34px;
	height: 39px;
	background: url(../img/icons/critical-small.png) no-repeat center center;
}

.icon-arrow-right-coral-small{
	width: 6px;
	height: 10px;
	background: url(../img/icons/arrow-right-coral-small.png) no-repeat center center;
}

.icon-disarmer-api{
	width: 20px;
	height: 37px;
	background: url(../img/icons/disarmer-api.png) no-repeat center center;
}

.icon-removable-devices-disarmer{
	width: 32px;
	height: 20px;
	background: url(../img/icons/removable-devices-disarmer.png) no-repeat center center;
}

.icon-file-transfer-disarmer{
	width: 38px;
	height: 21px;
	background: url(../img/icons/file-transfer-disarmer.png) no-repeat center center;
}

.icon-ccp-disarmer{
	width: 42px;
	height: 28px;
	background: url(../img/icons/ccp-disarmer.png) no-repeat center center;
}

.icon-web-disarmer{
	width: 43px;
	height: 26px;
	background: url(../img/icons/web-disarmer.png) no-repeat center center;
}

.icon-disarmer-api{
	width: 42px;
	height: 24px;
	background: url(../img/icons/email-disarmer.png) no-repeat center center;
}