.footer{
	background: #071633;
	padding: 20px $col-width 25px;

	.footer-inner{
		display: flex;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		justify-content: space-between;
		align-items: flex-start;

		> .footer-block{
			padding: 0 15px;
			flex: auto;
			flex-basis: 33.3333%;

			&:nth-child(2){
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 15px;

				@media screen and (max-width: 1399px){
					flex-basis: 50%;
				}
			}

			&:nth-child(3){
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				padding-top: 35px;
			}

			@media screen and (max-width: 1199px){
				flex: auto;
				flex-basis: auto;
			}
		}

		@media screen and (max-width: 991px){
			flex-direction: column;
			align-items: center;

			> .footer-block{
				margin-bottom: 25px;
				align-items: center !important;

				&.footer-socials-block{
					order: 2;
				}

				&.footer-nav-block{
					order: 3;
				}
			}
		}
	}
}

.footer-logo{
	max-width: 95px;
	display: block;

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.footer-nav{
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;

	li{
		margin-right: 20px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 13px;
			background: $primary;
			position: absolute;
			right: -11px;
			top: 7px;
		}

		&:last-child{
			margin-right: 0;

			&:after{
				display: none;
			}
		}

		a{
			font-size: 14px;
			line-height: 1;
			color: #fff;
			text-decoration: none;

			&:hover{
				color: $primary;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;
			}
		}

		&.current-menu-item{
			a{
				cursor: default;
			}
		}

		@media screen and (max-width: 1199px){
			&:after{
				top: 2px;
			}
		}

		@media screen and (max-width: 767px){
			&:after{
				top: 3px;
			}

			a{
				font-size: 12px;
			}
		}
	}
}

.copyright,
.developed-by{
	font-size: 14px;
	line-height: 1.5;
	color: #5e7083;
	text-align: center;

	a{
		color: #5e7083;
		text-decoration: underline;

		&:hover{
			color: $primary;
		}
	}

	@media screen and (max-width: 767px){
		font-size: 12px;
	}
}

.developed-by{
	margin-top: 35px;

	@media screen and (max-width: 991px){
		margin-top: 5px;
	}
}