$colors: (
	white: #fff,
	text: $text-color,
	accent: $accent,
	primary: $primary,
);

// blue: $blue,
// orange: $orange,
// dark: $text-dark

@each $i in $colors{
	$color-key: nth($i, 1);
	$color-value: nth($i, 2);

	&.color-#{$color-key}{
		color: $color-value !important;
	}
}

.push{
	position: relative;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.flex-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

// 
.d-none{
	display: none !important;
}
.d-inline{
	display: inline !important;
}
.d-inline-block{
	display: inline-block !important;
}
.d-block{
	display: block !important;
}
.d-flex{
	display: flex !important;
}
.d-inline-flex{
	display: inline-flex !important;
}
@media (min-width: 576px){
	.d-sm-none{
		display: none !important;
	}
	.d-sm-inline{
		display: inline !important;
	}
	.d-sm-inline-block{
		display: inline-block !important;
	}
	.d-sm-block{
		display: block !important;
	}
	.d-sm-flex{
		display: flex !important;
	}
	.d-sm-inline-flex{
		display: inline-flex !important;
	};
}
@media (min-width: 768px){
	.d-md-none{
		display: none !important;
	}
	.d-md-inline{
		display: inline !important;
	}
	.d-md-inline-block{
		display: inline-block !important;
	}
	.d-md-block{
		display: block !important;
	}
	.d-md-flex{
		display: flex !important;
	}
	.d-md-inline-flex{
		display: inline-flex !important;
	};
}
@media (min-width: 992px){
	.d-lg-none{
		display: none !important;
	}
	.d-lg-inline{
		display: inline !important;
	}
	.d-lg-inline-block{
		display: inline-block !important;
	}
	.d-lg-block{
		display: block !important;
	}
	.d-lg-flex{
		display: flex !important;
	}
	.d-lg-inline-flex{
		display: inline-flex !important;
	};
}
@media (min-width: 1200px){
	.d-xl-none{
		display: none !important;
	}
	.d-xl-inline{
		display: inline !important;
	}
	.d-xl-inline-block{
		display: inline-block !important;
	}
	.d-xl-block{
		display: block !important;
	}
	.d-xl-flex{
		display: flex !important;
	}
	.d-xl-inline-flex{
		display: inline-flex !important;
	};
}
