@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-regular.woff') format('woff'),
		url('../fonts/geomanist-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-bold.woff') format('woff'),
		url('../fonts/geomanist-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-light.woff') format('woff'),
		url('../fonts/geomanist-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-medium.woff') format('woff'),
		url('../fonts/geomanist-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-ultra.woff') format('woff'),
		url('../fonts/geomanist-ultra.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}