$section-padding: 80px;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0;
}

body{
	background: $body-bg;
}

a, button{
	text-decoration: none;
	transition: all $t;
	outline: none !important;
	border: none;
}

a img{
	outline: none !important;
	border: none !important;
}

.wrapper{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;

	> .page{
		flex: auto;
		display: flex;
		width: 100%;

		.page-sidebar{
			width: $sidebar-width;
			height: 100%;
			background: #fff;
			flex: none;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 200;
		}

		.page-content{
			padding-left: $sidebar-width;
			width: 100%;
		}

		@media screen and (max-width: 1199px){
			.page-sidebar{
				width: $lg-sidebar-width;
			}

			.page-content{
				padding-left: $lg-sidebar-width;
			}
		}

		@media screen and (max-width: 767px){
			.page-sidebar{
				display: none;
			}

			.page-content{
				padding-left: 0;
			}
		}
	}

	.footer{
		flex: none;
	}

	.post-content{
		padding-bottom: 80px;
	}

	@media screen and (max-width: 767px){
		padding-top: 66px;
	}
}

.section-default-top-padding{
	padding-top: $section-padding;
}

.section-default-bottom-padding{
	padding-bottom: $section-padding;
}

.section-default-paddings{
	padding: $section-padding 0;
}

@media screen and (max-width: 767px){
	.scrollable-container{
		.scrollable-container-inner{
			width: 100%;
			overflow: auto;
		}
	}
}

.cards-list{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 24px);
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -24px;

	> .item{
		padding: 0 12px;
		margin-bottom: 24px;
	}

	&.columns-5{
		> .item{
			width: 20%;
		}
	}

	&.columns-4{
		> .item{
			width: 25%;
		}
	}

	&.columns-3{
		> .item{
			width: 33.3333%;
		}
	}

	&.columns-2{
		> .item{
			width: 50%;
		}
	}

	@media screen and (max-width: 1199px){
		&.lg-columns-3{
			> .item{
				width: 33.333%;
			}
		}

		&.lg-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.lg-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 991px){
		&.md-columns-3{
			> .item{
				width: 33.333%;
			}
		}

		&.md-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.md-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 767px){
		&.sm-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.sm-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 575px){
		&.xs-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.xs-columns-1{
			> .item{
				width: 100%;
			}
		}
	}
}

.section-header-row{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 40px;

	> .item{
		padding: 0 15px;
		max-width: 100%;
	}
}