// .tpg - typoraphy prefix

html,
body{
	font-size: 16px;
	line-height: 1.333;
	color: $text-color;
	font-family: $main-font;
	font-weight: 300;

	@media screen and (max-width: 991px){
		line-height: 18px;
	}
}

.tpg p a{
	font-weight: 500;
	color: #055dfe;

	&:hover{
		color: $primary;
	}
}

.tpg p,
body .tpg-body-1,
.tpg-note{
	font-size: 1rem;
	line-height: 1.333;
	margin: 0 0 1.333em;
	font-weight: 300;

	&:last-child{
		margin-bottom: 0;
	}

	strong{
		font-weight: 500;
	}

	@media screen and (max-width: 991px){
		line-height: 18px;
	}
}

.tpg .tpg-note,
.tpg-note{
	font-size: 14px;
}

sup{
	vertical-align: top;
	position: relative;
	top: -0.5em;
}

body .tpg-body-2{
	font-weight: bold;
}

// .tpg-note{
// 	font-size: 10px;
// 	line-height: 12px;
// 	margin-bottom: 10px;
// 	color: $primary;
// 	font-weight: bold;
// 	text-transform: uppercase;
// }

.tpg h1,
body .tpg-h1{
	font-size: 2.5rem;
	line-height: 1.25;
	margin: 0 0 5px;
	font-weight: 700;
	text-transform: uppercase;

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 991px){
		font-size: 30px;
		line-height: 1;
	}
}

.tpg h2,
body .tpg-h2{
	font-size: 1.875rem;
	line-height: 1.25;
	margin: 0 0 8px;
	font-weight: 500;

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 991px){
		font-size: 20px;
		line-height: 1;
	}
}

.tpg h3,
body .tpg-h3{
	font-size: 1.25rem;
	line-height: 1.25;
	margin: 0 0 8px;
	font-weight: 500;

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 991px){
		font-size: 18px;
		line-height: 20px;
	}
}

.tpg h4,
body .tpg-h4{
	font-size: 1.25rem;
	line-height: 1.25;
	margin: 0 0 0.5em;
	font-weight: 500;

	&:last-child{
		margin-bottom: 0;
	}
}

.tpg ul,
body .tpg-ul{
	list-style: none;
	margin-bottom: 1.333em;

	li{
		font-size: 1em;
		line-height: 1.222em;
		padding-left: 16px;
		position: relative;
		margin-bottom: 10px;

		&:last-child{
			margin-bottom: 0;
		}

		&:before{
			content: '•  ';
			color: $text-color;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.tpg{
	p + ul{
		margin-top: -1em;
	}
}

// .section-more-link{
// 	font-size: 14px;
// 	line-height: 24px;
// 	text-align: center;
// 	color: $text-color;
// 	text-decoration: underline;
// 	text-transform: uppercase;
// 	font-weight: 600;

// 	&:hover{
// 		color: $accent;
// 	}
// }

.section-caption{
	margin-bottom: 25px;
	position: relative;

	&:last-child{
		margin-bottom: 0;
	}

	.sc-title{
		font-size: 1.666rem;
		line-height: 1.25;
		text-transform: uppercase;
		font-weight: 700;
		padding-bottom: 8px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 65px;
			height: 3px;
			background: $primary;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	.sc-subtitle{
		margin-top: 8px;
		font-weight: 700;
		font-size: 1rem;
	}

	&.primary-color{
		color: $primary;
	}

	&.small-padding{
		.sc-title{
			padding-bottom: 8px;
		}
	}

	&.no-line{
		.sc-title{
			padding-bottom: 0;

			&:after{
				display: none;
			}
		}
	}

	&.small{
		.sc-title{
			font-size: 20px;
			line-height: 1.25;
			font-weight: bold;
			text-transform: none;
		}
	}

	&.tiny{
		.sc-title{
			font-size: 16px;
		}
	}

	&.no-uppercase{
		.sc-title{
			text-transform: none;
		}
	}

	&.centered{
		text-align: center;

		.sc-title{
			&:after{
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	@media screen and (max-width: 767px){
		.sc-title{
			font-size: 20px;
		}

		&.small{
			.sc-title{
				font-size: 18px;
			}
		}
	}
}

.more-link{
	color: $primary;
	font-weight: 500;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}

	i{
		margin-left: 12px;
	}

	&.thin{
		color: #2c2c2c;
		font-weight: 300;

		&:hover{
			text-decoration: none;
			color: $primary;
		}
	}
}

.text-uppercase{
	text-transform: uppercase !important;
}