// Fonts
$main-font: 'Geomanist', Arial, sans-serif;

// Colors
$coral: #ed4043;
$darkblue: #071633;
$navy: #001b4f;
$azure: #80ffff;

$dark: #303030;
$gray: #585858;

$text-color: #08214f;
$text-dark: $dark;

$primary: $coral;
$accent: $darkblue;

// Params
$body-bg: #fff; // site background
$t: .3s; // animation duration
$r: 0px; // default border radius
$shadow: 2px 5px 8px rgba(#434343, .52); // default card shadow
$col-width: 6.6666vw;

$sidebar-width: 132px;
$lg-sidebar-width: 102px;