.btn{
	border: 1px solid transparent;
	color: #fff;
	font-weight: 700;
	text-align: center;
	font-size: 1.111rem;
	line-height: 1;
	padding: 10px 40px;
	background: $primary;
	font-family: $main-font;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all $t;
	cursor: pointer;
	min-height: 52px;
	text-transform: uppercase;

	&:hover{
		background: darken($primary, 10%);
	}

	i{
		&:last-child{
			margin-left: 8px;
		}

		&:first-child{
			margin-right: 8px;
		}
	}

	&.btn-big{
		font-size: 1.39rem;
		line-height: 1.2;
		font-family: $main-font;
		padding: 4px 10px;
		font-weight: 100;
	}

	&.text-medium{
		font-weight: 500;
	}

	&.btn-blue{
		background: #09214f;

		&:hover{
			background: lighten(#09214f, 10%);
		}
	}

	&.btn-azure{
		background: #169bd5;

		&:hover{
			background: lighten(#169bd5, 10%);
		}
	}

	&.fullwidth{
		width: 100%;
	}

	&.btn-small{
		border-radius: 3px;
		padding: 4px 12px;
		min-height: 25px;
		font-size: 11px;
		line-height: 15px;
		font-weight: 400;
	}
}