.logos-slider{
	width: 99.9%;
	overflow: hidden;
	position: relative;

	.slider-track{
		display: flex;
		position: relative;
		// width: 2280px;
	}

	.slide{
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 180px;
		cursor: pointer;

		&:first-child{
			padding-left: 0;
		}

		&:last-child{
			padding-right: 0;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
			filter: grayscale(100%);
			transition: all $t;
		}

		&:hover{
			img{
				filter: grayscale(0);
			}
		}
	}

	@media screen and (max-width: 991px){
		padding-left: 25px;
	}

	@media screen and (max-width: 767px){
		overflow-x: auto;
	}
}

// @keyframes logos-slider {
// 	0% { left: 0%; }
// 	50% { left: -1%; }
// 	100% { left: 0%; }
// }