.logos-slider{
	width: 100%;
	overflow: hidden;

	.slider-track{
		display: block;
		position: relative;
		width: 10000%;
		left: 0%;

		.track-inner{
			position: relative;
			width: 2%;
			display: flex;
			justify-content: flex-start;
			animation: logos-slider 20s infinite linear;
		}
	}

	.slide{
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 190px;
		cursor: pointer;

		&:first-child{
			padding-left: 0;
		}

		&:last-child{
			padding-right: 0;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
			filter: grayscale(100%);
			transition: all $t;
		}

		&:hover{
			img{
				filter: grayscale(0);
			}
		}
	}
}

@keyframes logos-slider {
	0% { left: 0%; }
	50% { left: -1%; }
	100% { left: 0%; }
}