.sidebar-nav{
	padding: 0 15px;
	list-style: none;

	li{
		border-bottom: 1px solid #b5b5b5;

		&:last-child{
			border-bottom: 0;
		}

		a{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			min-height: 100px;
			padding: 15px 10px;

			.item-icon{
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 5px;

				svg{
					width: 100%;
					max-height: 35px;

					*{
						transition: all $t;
					}
				}
			}

			.item-text{
				font-size: 15px;
				line-height: 1;
				color: #b5b5b5;
				transition: all $t;
			}

			&:hover,
			&.current{
				.item-icon{
					svg *{
						fill: $primary;
					}
				}

				.item-text{
					color: $primary;
				}
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				.item-icon{
					svg *{
						fill: $primary;
					}
				}

				.item-text{
					color: $primary;
				}
			}
		}
		
		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}

	@media screen and (max-width: 1199px){
		padding: 10px;

		li{
			a{
				padding: 15px 5px;

				.item-text{
					font-size: 13px;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		padding: 0;

		li{
			a{
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				min-height: 0;

				.item-icon{
					margin-bottom: 0;
					margin-right: 25px;
				}

				.item-text{
					font-size: 16px;
				}

				br{
					display: none;
				}
			}
		}
	}
}