.page-sidebar{
	box-shadow: 0 0 7px rgba(#434343, .52);
	overflow-y: auto;
	padding-bottom: 80px;

	&::-webkit-scrollbar-track{
		// box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 3px;
		background-color: transparent;
	}

	&::-webkit-scrollbar{
		width: 0;
		background-color: transparent;
		margin-right: 0px;
		border-radius: 3px;
	}

	&::-webkit-scrollbar-thumb{
		border-radius: 3px;
		// box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: $primary;
	}

	.sidebar-logo{
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;

		.logo{
			width: 100%;
			max-width: 80px;
		}
	}
}

.sidebar-shifted-content{
	position: absolute;
}

.accordion-content{
	display: none;
	padding-bottom: 30px;
	padding-top: 30px;
}

#lets-start-select-tab{
	.squared-tabs-nav{
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.section-caption{
		.sc-title{
			text-transform: none;
			font-size: 22px;
			font-weight: bold;
			color: #1c1b1b;
			// text-align: center;

			&:after{
				display: none;
			}
		}
	}

	.btn{
		margin: 30px auto 0;
		width: 100px;
		height: 50px;
		padding: 0;
		font-size: 16px;
		font-weight: 500;
	}
}

.lets-start-mobile{
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: $primary;
	color: #fff;
	height: 55px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 40;
	justify-content: center;
	cursor: pointer;

	.block-caption{
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 4px;

		i{
			transition: all $t;
			transform: translateY(1px);
		}
	}

	.block-subcaption{
		font-size: 16px;
		line-height: 1;
		font-weight: 400;
	}

	@media screen and (max-width: 767px){
		display: flex;
	}
}

.lets-start-block{
	height: 210px;
	background: $primary;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 10px 15px 15px;
	color: #fff;
	cursor: pointer;
	transition: all $t;

	&:hover{
		background: darken($primary, 10%);
	}

	.block-caption{
		font-size: 40px;
		line-height: .85;
		font-weight: 500;
		padding-bottom: 10px;
		margin-bottom: 8px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 93px;
			height: 1px;
			background: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		i{
			transition: all $t;
			transform: translateY(-3px);
		}
	}

	.block-subcaption{
		font-size: 15px;
		line-height: 1;
	}

	&.current{
		background: darken($primary, 10%);

		.block-caption{
			i{
				transform: translateY(-3px) rotate(-180deg);
			}
		}
	}

	@media screen and (max-width: 1199px){
		height: 120px;
		padding: 15px 10px;

		.block-caption{
			font-size: 27px;

			i{
				transform: translateY(1px);
			}

			&:after{
				width: 100%;
			}
		}

		.block-subcaption{
			font-size: 12px;
		}
	}
}