.ccp-section{
	.section-inner{
		display: flex;
		justify-content: space-between;

		.column{
			&:first-child{
				max-width: 640px;
				margin-right: 60px;
			}

			&:last-child{
				width: 511px;
				flex: none;
			}

			&.fullwidth{
				width: 100%;
				flex: none;
				max-width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		@media screen and (max-width: 1299px){
			flex-direction: column;

			.column{
				width: 100% !important;
				margin-right: 0 !important;
				margin-bottom: 60px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}