.customers-section{
	padding: 70px 0 70px $col-width;
	background: #f7f7f7;

	.section-inner{
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;

		.section-content{
			width: 30%;
			flex: none;
		}

		.section-slider{
			width: 70%;
		}

		@media screen and (max-width: 991px){
			flex-direction: column;

			.section-content{
				width: 100%;
				margin-bottom: 35px;
				padding-right: 0;

				.section-caption{
					text-align: center;

					.sc-title{
						&:after{
							left: calc(50% - 30px);
						}
					}
				}
			}

			.section-slider{
				width: 100%;
			}
		}

		@media screen and (max-width: 767px){
			.section-slider{
				.slide{
					width: 180px;
					flex: none;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		padding-left: 0;
	}

	@media screen and (max-width: 767px){
		padding-left: 0;
	}
}