.news-section{
	padding: 80px $col-width;

	@media screen and (max-width: 767px){
		padding: 80px 20px;
	}
}

.load-more-link{
	font-size: 1;
	line-height: 1.2em;
	color: #000;
	text-decoration: none;
	margin-top: 45px;

	&:hover{
		color: $primary;
	}
}