.store-and-share-section{
	background: #f7f7f7;
	padding: 130px $col-width 100px;

	.section-inner{
		display: flex;
		justify-content: space-between;

		.section-text{
			width: 100%;
			max-width: 510px;
		}

		.section-supported-files-wrapper{
			width: 640px;
			flex: none;
			margin-left: 50px;

			.btn{
				min-width: 230px;
			}
		}

		@media screen and (max-width: 1299px){
			.section-supported-files-wrapper{
				width: calc(50% - 25px);
			}
		}

		@media screen and (max-width: 991px){
			flex-direction: column;
			align-items: stretch;

			.section-text{
				width: 100%;
				max-width: 100%;
			}

			.section-supported-files-wrapper{
				width: 100%;
				margin-left: 0;
				margin-top: 60px;
			}
		}
	}

	@media screen and (max-width: 991px){
		padding: $col-width;
	}

	@media screen and (max-width: 767px){
		padding: 25px 20px;
	}
}

.sas-features-list{
	margin-top: 60px;
	max-width: 300px;

	.item{
		margin-bottom: 80px;

		&:last-child{
			margin-bottom: 0 !important;
		}

		.item-title{
			font-size: 1.111rem;
			line-height: 1;
			font-weight: 500;
			padding-bottom: 8px;
			position: relative;
			flex: none;
			margin-bottom: 12px;

			&:before{
				content: '';
				display: block;
				width: 65px;
				height: 3px;
				background: $primary;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}

	@media screen and (max-width: 991px){
		margin-top: 40px;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: -30px;
		flex-wrap: wrap;

		.item{
			width: calc(50% - 15px);
			margin-bottom: 30px;
		}
	}

	@media screen and (max-width: 767px){
		margin-top: 20px;

		.item{
			width: 100%;

			.item-title{
				font-size: 18px;
			}
		}
	}
}

.supported-files-list{
	display: flex;
	width: calc(100% + 44px);
	margin-left: -22px;
	margin-right: -22px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 25px;
	margin-top: 60px;

	> .item{
		padding: 0 22px;
		margin-bottom: 25px;
		width: 33.3333%;

		&:last-child{
			margin-bottom: 0;
		}

		.item-icon{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 12px;
			max-width: 171px;

			img{
				display: block;
				max-width: 100%;
				height: auto;
			}
		}

		.item-name{
			font-size: 1.111rem;
			font-weight: 300;
			color: #2b2b2b;
			text-transform: uppercase;
			text-align: center;
		}
	}

	@media screen and (max-width: 767px){
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;

		> .item{
			padding: 0 15px;

			.item-name{
				font-size: 16px;
			}
		}
	}
}