.tech-section{
	.section-inner{
		display: flex;
		align-items: stretch;
	}

	.section-text{
		width: 50%;
		flex: none;
		padding: 300px $col-width 300px calc(#{$col-width} / 2);
		position: relative;
		display: flex;
		align-items: center;

		.section-image{
			position: absolute;
			left: 15px;
			top: 0;

			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	.section-cards-wrapper{
		width: 50%;
		flex: none;
		background: #08214f;
		padding: 40px;
		display: flex;
		align-items: center;
	}

	&.light{
		padding: 90px 0;

		.section-text{
			padding: 0 70px 0 $col-width;
		}

		.section-cards-wrapper{
			background: #fff;
			padding: 0 25px 0 45px;
			align-items: flex-start;
		}
	}

	@media screen and (max-width: 1199px){
		.section-text{
			padding: 200px calc(#{$col-width} / 2) 100px;

			.section-image{
				height: 200px;
			}
		}
	}

	@media screen and (max-width: 991px){
		.section-inner{
			flex-direction: column;
			align-items: stretch;
		}

		.section-text{
			width: 100%;
			padding-bottom: 0;
			padding-top: 30px;
			min-height: 290px;

			.section-image{
				height: 290px;
				z-index: 0;
			}

			.section-text-inner{
				padding-top: 30px;
				background: rgba(#fff, .8);
				padding-bottom: 30px;
				position: relative;
				z-index: 2;
			}
		}

		.section-cards-wrapper{
			width: 100%;
		}

		&.light{
			padding: 35px 0;

			.section-cards-wrapper{
				padding: 0;
			}

			.section-text{
				padding: 30px 20px 0;
			}
		}
	}

	@media screen and (max-width: 767px){
		.section-text{
			position: relative;

			&:before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 15px 25px 0 25px;
				border-color: #fff transparent transparent transparent;
				position: absolute;
				left: calc(50% - 25px);
				top: 100%;
			}
		}

		.section-cards-wrapper{
			padding: 40px 20px;
			width: 100%;
			overflow-x: auto;
		}

		.tech-cards-list{
			display: flex;
			width: 690px;
			flex: none;
			flex-wrap: nowrap;

			> .item{
				width: 220px;
				flex: none;
				border: 1px solid #fff !important;
				margin-right: 15px;

				&:last-child{
					margin-right: 0;
				}

				&:nth-child(3n){
					margin-right: 0;
				}
			}
		}

		&.light{
			.tech-cards-list{
				width: 660px;

				> .item{
					margin-right: 0;
					border-right: 1px solid #d7d7d7 !important;
					border-bottom: 1px solid #d7d7d7 !important;

					&:nth-child(3n){
						border-right: 0;
					}

					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6){
						border-bottom: 0;
					}
				}
			}
		}
	}
}

.tech-cards-list{
	display: flex;
	width: 100%;
	flex-wrap: wrap;

	> .item{
		width: 33.333%;
		border-right: 2px solid #041637;
		border-bottom: 2px solid #041637;

		&:nth-child(3n){
			border-right: 0;
		}

		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6){
			border-bottom: 0;
		}
	}

	&.big{
		p{
			margin-top: 15px;
			flex: auto;
		}

		.tech-card{
			padding: 45px;

			.card-image{
				margin-bottom: 30px;
			}
		}

		@media screen and (max-width: 991px){
			> .item{
				width: 50%;

				&:nth-child(odd){
					border-right: 2px solid #041637 !important;
					border-bottom: 2px solid #041637 !important;
				}

				&:nth-child(even){
					border-right: 0;
					border-bottom: 2px solid #041637 !important;
				}
			}
		}

		@media screen and (max-width: 675px){
			> .item{
				width: 100%;
				border-right: 0 !important;
				border-bottom: 2px solid #041637 !important;
			}
		}
	}
}

.light{
	.tech-cards-list{
		> .item{
			border-right: 2px solid #d7d7d7;
			border-bottom: 2px solid #d7d7d7;

			&:nth-child(3n){
				border-right: 0;
			}

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6){
				border-bottom: 0;
			}
		}

		&.big{
			@media screen and (max-width: 991px){
				> .item{
					&:nth-child(odd){
						border-right-color: #d7d7d7 !important;
						border-bottom-color: #d7d7d7 !important;
					}

					&:nth-child(even){
						border-bottom-color: #d7d7d7 !important;
					}
				}
			}

			@media screen and (max-width: 675px){
				> .item{
					border-right: 0 !important;
					border-bottom-color: #041637 !important;
				}
			}
		}
	}
}

// TECH PAGE SECTIONS
.tech-section-1{
	padding: 80px $col-width 50px;
	background: #f7f7f7;

	.section-caption{
		max-width: 760px;
	}

	.section-columns{
		display: flex;

		.column{
			width: calc(#{$col-width} * 5);
			margin-right: calc(#{$col-width} * 2);

			&:last-child{
				margin-right: 0;
			}

			p{
				max-width: 550px;
				color: $text-color;
			}
		}

		.solutions-list{
			margin-bottom: 20px;
		}

		@media screen and (max-width: 1199px){
			.column{
				width: 45%;
				margin-right: 10%;
			}
		}

		@media screen and (max-width: 991px){
			flex-wrap: wrap;

			.column{
				width: 100%;
				margin-right: 0;
				padding: 0;
				margin-bottom: 30px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		padding: 30px 20px;
	}
}

.tech-stages-section{
	padding: 40px $col-width 75px;

	.section-caption{
		.sc-title{
			&:after{
				background: $text-color;
			}
		}
	}

	.section-inner{
		display: flex;

		.column{
			width: calc(#{$col-width} * 5);
			margin-right: calc(#{$col-width} * 2);

			&:last-child{
				margin-right: 0;
			}

			p{
				max-width: 550px;
				color: $text-color;
			}
		}

		@media screen and (max-width: 1199px){
			.column{
				width: 45%;
				margin-right: 10%;
			}
		}

		@media screen and (max-width: 991px){
			flex-direction: column;

			.column{
				width: 100%;
				margin-right: 0;
				padding: 30px $col-width;

				&:last-child{
					margin-bottom: 0;
				}

				&:nth-child(even){
					background: #f7f7f7;
				}
			}
		}

		@media screen and (max-width: 767px){
			.column{
				padding: 30px 20px;
			}
		}
	}

	@media screen and (max-width: 991px){
		padding: 0;
	}
}